## Settings file was created by plugin Trash Items Mod v1.2.4
## Plugin GUID: virtuacode.valheim.trashitems

[General]

## Show confirm dialog
# Setting type: Boolean
# Default value: false
ConfirmDialog = false

## Sound effect when trashing items
# Setting type: SoundEffect
# Default value: Random
# Acceptable values: None, Sound1, Sound2, Sound3, Random
SoundEffect = Random

## Label for the trash button
# Setting type: String
# Default value: Trash
TrashLabel = Trash

## Color for the trash label
# Setting type: Color
# Default value: FFD800FF
TrashColor = FFD800FF

[Input]

## Hotkey for destroying items
# Setting type: KeyboardShortcut
# Default value: Delete
TrashHotkey = Delete

